# Copyright 2025 Felix Kahle. All rights reserved.

build --cxxopt='-std=c++20'
build --host_cxxopt='-std=c++20'

build --compilation_mode=opt
build --copt=-O3
build --cxxopt=-O3
build --linkopt=-O3
build --host_copt=-O3
build --host_cxxopt=-O3
build --copt=-march=native
build --cxxopt=-march=native

# Platform overrides
build:macos --copt=-O3 --cxxopt=-O3
build:linux --copt=-O3 --cxxopt=-O3
build:windows --copt=/O2 --cxxopt=/O2
